#wrap {
    padding-top: 80px;
}

#main {
    min-height: 520px;
}

.control-group .help-block {
    margin-bottom: 30px;
}

#main .action {
    margin-top: 15px;
}


#footer {
    background-color: #f5f5f5;
    min-height: 3em;
    overflow: hidden;
}

.credit {
    text-align: center;
    margin: 0;
    line-height: 3em !important;
}