<template name="password_update">
    <div class="row-fluid">
        <div class="span8 well offset2">
            <h3>
                Choose a new password
            </h3>
            <hr>

            <form id="passwordUpdateForm">
                <div class="control-group">
                    <div class="controls">
                        <input class="span12" id="passwordUpdate" name="passwordUpdate" type="password" placeholder="Your new password">
                        <div class="help-block muted">Enter your new password.</div>
                    </div>
                </div>

                <div class="control-group">
                    <div class="controls">
                        <input class="span12" id="password_againUpdate" name="password_againUpdate" type="password" placeholder="Your password again">
                        <div class="help-block muted">Enter your new password again.</div>
                    </div>
                </div>

                <button class="btn btn-success btn-large pull-right" type="submit" id="passwordUpdateBtn" data-loading-text="Updating password...">Update password</button>
                
            </form>
        </div>
    </div>
</template>