<template name="recover_email">
    <div class="row-fluid">
        <div class="span8 well offset2">
            <form id="recoverEmailForm">

                <h3>
                    Enter your email ID
                </h3>
                <hr>
                
                <div class="control-group">
                    <div class="controls">
                        <input class="span12" id="email" name="email" type="email" placeholder="Your email">
                        <div class="help-block muted">An email confirmation will be sent</div>
                    </div>
                </div>

                <button class="btn btn-success btn-large pull-right" type="submit" id="recoverEmail" data-loading-text="Sending email..">Send Recovery Email</button>

                
            </form>
        </div>
    </div>
    
</template>