<template name="footer">

    <div id="footer">
        <div class="container">
            <p class="muted credit">
                Meteor user authentication with routes. Heavily inspired by <a href="https://github.com/schofld/signup" target="_blank">this repo</a>.
                <br>
                <strong>Bharani Muthukumaraswamy</strong> - <a href="http://github.com/bharani91" target="_blank">Github</a> -  <a href="mailto:bharani91@gmail.com" target="_blank">Contact</a> 
            </p>
        </div>
    </div>

</template>