<template name="viewProfile">
    <div class="row-fluid">
        <div class="span8 well offset2">
            {{#with user}}


            <div class="row-fluid">
            <div class="span9">
                    <h3>Your Profile</h3>
                </div>
                <div class="span3 pull-right action">
                    <a href="/users/{{_id}}/edit" class='btn btn-primary btn-block'>Edit Profile</a>
                </div>
            </div>

            <hr class="spacer"></hr>


            <table class="table">
                <tr>
                    <th>First name: </th>
                    <td>{{ profile.firstName}}</td>
                </tr>

                <tr>
                    <th>Last name: </th>
                    <td>{{ profile.lastName}}</td>
                </tr>

                <tr>
                    <th>Username: </th>
                    <td>{{ username}}</td>
                </tr>

                <tr>
                    <th>Bio: </th>
                    <td>{{ profile.bio}}</td>
                </tr>
            </table>
            {{/with}}
        </div>
    </div>
</template>